@model Invoice.Models.InvoiceFactor

@{
    ViewData["Title"] = "ShowInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowInvoice</h1>

<div>
    <h4>InvoiceFactor</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Row)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Row)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductCount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductFee)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductFee)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductDiscount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductDiscount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTax)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTotal)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTotal)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTotalAfterDC)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTotalAfterDC)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTotalAfterTax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTotalAfterTax)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTotalDiscount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTotalDiscount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTotalTax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductTotalTax)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductAllTotal)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductAllTotal)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductAllTotalAfterDC)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductAllTotalAfterDC)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductAllTotalAfterTax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductAllTotalAfterTax)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerEconomicNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerEconomicNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerRegisterNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerRegisterNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerState)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerState)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerCity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerCity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerPostalCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerPostalCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerPhone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerPhone)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerAddress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerAddress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerNationCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerNationCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SalerFax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SalerFax)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerEconomicNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerEconomicNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerRegisterNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerRegisterNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerState)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerState)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerCity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerCity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerPostalCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerPostalCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerAddress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerNationCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerNationCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerFax)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerFax)
            </dd>*@
    </dl>
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
